<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SheBoss</title>
  <meta name="description" content="SummerHacks: SheBoss">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Pattaya&family=Russo+One&family=Saira+Condensed&display=swap" rel="stylesheet">

</head>

<body>

  <nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      Welcome! 
<div class="nav justify-content-end ml-auto">
  <a class="nav-item nav-link" href="#">About<span class="sr-only">(current)</span></a>
  <a class="nav-item nav-link" href="homepage.html">Find Businesses</a>
  <a class="nav-item nav-link" href="review.html">Feedback for Businesses</a>
  <a class="nav-item nav-link" href="/signout">Sign Out</a>
</div>

    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="projName">She<br>Boss</h1>
        <h2 class="subtitle">support women-owned businesses</h2>
    <div>
        There is no limit to what we, as women can accomplish. So it is the duty of every woman to support each other, empower each other, and help each other rise. At this time of the crisis, we believe that our small endeavour could  support other women and help everyone stay safe and happy at their homes, while help them buy things they need.
       <br></br>
       <br></br>
      We designed a website through which we can find women owned enterprises easily, connect new emerging enterprises with the buyers, by registering in our site, and help them find new products. So, any women willing to start their business career could register at our site, sell their products, staying safe and happy at home. And every man or woman could purchase products they desire, staying safe and happy at home as well. We believe in the happiness, satisfaction and comfort of people.
    </div>