<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SheBoss</title>
  <meta name="description" content="SummerHacks: SheBoss">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Pattaya&family=Russo+One&family=Saira+Condensed&display=swap" rel="stylesheet">

</head>

<body >

  <nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      Welcome! 
<div class="nav justify-content-end ml-auto">
    <a class="nav-item nav-link" href="/about">About<span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link" href="/homepage">Find Businesses</a>
    <a class="nav-item nav-link" href="/review">Feedback for Businesses</a>
    <a class="nav-item nav-link" href="/signout">Sign Out</a>
</div>

    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="projName">She<br>Boss</h1>
        <h2 class="subtitle">support women-owned businesses</h2>
    <br></br>
    <h2> <center> Feedback Form</h2></center>
    <br></br>
    <br></br>
    <div class="container">

      <form action="/review" method="POST">
        <div class="form-group row">
            <label class="col-sm-3" col-form-label><h3>UserName</h3></label>
            <div class="col-md-9">
          <input
            type="text"
            name='username'
            class="form-control"
          />
          </div>
        </div>
        <div class="container">
          <form action="/review" method="POST">
           <div class="form-group row">
            <label class="col-sm-3" col-form-label><h3>Company</h3></label>
            <div class="col-md-9">
             <input
               type="text"
               name='company'
               class="form-control"
          />
        </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3" col-form-label><h3>Please rate Company</h3></label>
            <div class="col-md-9 form-check-inline  offset-sm-3">
          <input type="radio" name="rating" value="1" class="form-control" /> 1
          <input type="radio" name="rating" value="2" class="form-control" /> 2
          <input type="radio" name="rating" value="3" class="form-control" /> 3
          <input type="radio" name="rating" value="4" class="form-control"/> 4
          <input type="radio" name="rating" value="5" class="form-control" checked /> 5
        </div>
        </div>

        <div class="form-group row col-sm-9">
            <label class="col-sm-3" col-form-label><h3>Comments</h3></label>
          <textarea
            name="comments"
            id=""
            cols="65"
            rows="10"
            placeholder="Tell us what you liked and/or did not like"
          ></textarea>
        
        </div>
        <div class="row">
            <div class="col-sm-9 offset-sm-11">
                <input type="submit" value="Submit" class="btn btn-danger" class="form-control" />
             </div>
        
        </div>
       </div>
      </form>
      <br>
      {% for i in review %}
      <div class="card border-dark ml-auto mb-6" style="padding-left: 5%; background-color: palevioletred;">
        <br>
        <h4 class="post-user">Review by: {{i[0]}} </h4>
        <h4 class="post-user">Company: {{i[1]}}</h4>
        <h4 id="content" contenteditable="false" >Review: {{i[2]}}</h4>
        <h4 class="post-user">Rating: {{i[3]}}</h4><br>
    </div><br>
  {% endfor %}
      </div>
  </body>
</html>
